@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



/* ::::::::::::::::::::::::::: settings to choose the meme text  ::::::::::::::::::::::::::: */

@font-face {
    font-family: 'Anton';
    src: url(assets/fonts/Anton-Regular.ttf);          
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Amaranth';
    src: url(fuentes/Amaranth-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'BlackOpsOne';
    src: url(assets/fonts/BlackOpsOne-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DancingScript';
    src: url(assets/fonts/DancingScript-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Dokdo';
    src: url(assets/fonts/Dokdo-Regular.ttf);
    font-weight: bold;
    font-style: regular;
}
@font-face {
    font-family: 'Honk';
    src: url(assets/fonts/Honk-Regular.ttf);
    font-weight: normal;
    font-style: regular;
}
@font-face {
    font-family: 'LuckiestGuy';
    src: url(fuentes/LuckiestGuy-Regular.ttf);
    font-weight: normal;
    font-style: regular;
}
@font-face {
    font-family: 'OldStandardTT';
    src: url(assets/fonts/OldStandardTT-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Pacifico';
    src: url(assets/fonts/Pacifico-Regular.ttf);
    font-weight: normal;
    font-style: regular;
}
@font-face {
    font-family: 'RammettoOne';
    src: url(assets/fonts/RammettoOne-Regular.ttf);
    font-weight: normal;
    font-style: regular;
}
@font-face {
    font-family: 'SongMyung';
    src: url(assets/fonts/SongMyung-Regular.ttf);
    font-weight: normal;
    font-style: regular;
}
@font-face {
    font-family: 'SpecialElite';
    src: url(assets/fonts/SpecialElite-Regular.ttf);
    font-weight: normal;
    font-style: regular;
}
@font-face {
    font-family: 'Teko';
    src: url(assets/fonts/Teko-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ultra';
    src: url(assets/fonts/Ultra-Regular.ttf);
    font-weight: bold;
    font-style: Regular;
}

/* ::::::::::::::::::::::::::: dark mode and light mode :::::::::::::::::::::::::::*/
:root{                              
    --color-header:    #005285 ;    
    --color-seccion:   #012639;     
    --color-cont-main: #0ba8e2;     
    --color-fondoBtn:  #72d5f8;     
    --color-fuente:    #f3f4f6;     

    --color-hover:  #4eae48;
    --color_btn-desc-arriba-abajo: #000000;
    color-scheme: dark;
   
    --transition: color 0.1s, background-color 0.2s ease-in-out;

    --cajita_meme-tm-maximo: 600;
    --cajita_meme-tm-inicial-txt: 50;
    --alto-botones-paneles: 27;
    --ancho-panel-imgtxt: 280;

    --breakpoints-uno: 1300;
    --breakpoints-dos: 850;
    --breakpoints-tres: 570;
}  

:root[data-theme-color="light"] {    
    --color-header:    #78c0ee;       
    --color-seccion:    #1490d0;     
    --color-cont-main: #d3d8e2;      
    --color-fondoBtn:  #b1bcd1;      
    --color-fuente:    #010101;       
  
    color-scheme: light; 
}

  
/* ::::::::::::::::::::::::::: general styles and bodysuit styles :::::::::::::::::::::::::::*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: var(--transition);
}

 html{
    font-size: 20px;
    height: 100vh;
} 

body{
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    font-weight: 900;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


/* ::::::::::::::::::::::::::: header section styles :::::::::::::::::::::::::::*/

.header-container {
    height: 15%;
    width: 100%;
    color: var(--color-fuente);
    background-color: var(--color-header);
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header-title {
    font-size: 1.5rem;
}
.nav-button{
    padding: 10px;
    font-size: 0.8rem;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    border-radius: 5px ;
}
.nav-button:hover{
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
}

.fa-sun-o:before { 
    content: "\f185"; /* sun icon*/
}
.fa-moon-o:before { 
    content: "\f186"; /* moon icon*/
}

/* ::::::::::::::::::::::::::: main section styles :::::::::::::::::::::::::::*/
.main-container { 
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color-cont-ppal);  
}

.main-content {   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}

.image-text-container {
    width: 100%;
    height: calc(var(--cajita_meme-tm-maximo) * 1px); 
    max-width: calc(var(--cajita_meme-tm-maximo) * 1px);    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .main-img{
        width: 100%;
        height: 100%;
        background-color: var(--color-header); 
        position: relative;
    }

    .main-text{
        width: 100%;
        font-family: 'Anton';
        font-size: 40px;
        text-align:center;
        color: black;
        background-color: white;
        padding: 10px 0px 10px 0px;

        position: static; 
        z-index: 1; 
    }
    #text-top { 
        top: 0;
    }
    #text-lowe {   
       bottom: 0;
    }



/* ::::::::::::::::::::::::::: meme download button style :::::::::::::::::::::::::::*/
.main-button-download {
    border: 0;
    background-color: var(--color_btn-desc-arriba-abajo);
    box-shadow: 3px 3px 3px var(--color-header);
    border-radius: 5px ;
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.main-button-download:hover {
    background-color: #ffffff;
    color:#000000
}

.author {
    text-align: center;
    padding: 5px 0px 0px;
    font-weight: 100;
    color: var(--color_btn-desc-arriba-abajo)      
}


/* ::::::::::::::::::::::::::: text and image panel styles :::::::::::::::::::::::::::  */

.panel-container {
    width:calc(var(--ancho-panel-imgtxt) * 1px );
    height: 100%;
    flex-direction: column;
    background-color: var(--color-seccion);
    padding: 35px 10px 20px 10px;
    overflow-y: visible;  /*scroll y visible*/
    overflow-x: hidden; /*scroll x ocultar*/
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    font-family: 'roboto';
}

.panel-close-btn {
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 0px;
    font-size: 1rem;
}
.fa-times-circle-o:before { 
    content: "\f05c"; /* close icon*/
}

.hide {
    display: none;
}


.panel-title{
    display: flex;
    justify-content: center;
}

.control-sectors-panel {   /*Borde de cada control*/
    margin-top: 10px;
    padding: 5px 0px 20px 0px;    
}

.image-panel, .text-panel {
    width: 100%;
    height: 100%;
}

input{
    background-color: var(--color-fondoBtn);
    color:var(--color-fuente);
    border: 0;          
    border-radius: 3px; 
    padding: 3px; 
    outline: none; 
}

/*----------------------- SECTION: panel de IMAGEN -------------------*/
.sectors-panel { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
} 


.origin-image-height {
    height: 100px;
}

.upload-btn {  /* Para el btn de URL/PC. */
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    border: 0px;
    padding: 3px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    width: calc(50% - 2px);  
    height: calc( var(--alto-botones-paneles)* 1px);
    cursor: pointer; 
    color:var(--color_btn-desc-arriba-abajo);
}

input[type="url"]{
    height: calc( var(--alto-botones-paneles)* 1px);
    width: calc(100% - 0px);
        
}

::placeholder{  /* modifica el text del placeholder del input-url */
    color: var(--color_btn-desc-arriba-abajo);
    font-size: 0.7rem;  
} 

.archivo-img input{  /* button download PC*/
    display: none;
}
.archivo-img label{ /* Para btn subir desde PC*/
    margin-top: 3px;
    width: 100%;
    height: calc( var(--alto-botones-paneles)* 1px);
    background-color: var(--color-fondoBtn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.7rem;
    color:var(--color_btn-desc-arriba-abajo)
}


.panel-bg-color {
    background-color: var(--color-fondoBtn);
    font-size: 0.7rem;
    width: calc(50% - 2px);  
    border-radius: 3px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    color:#000000;
}

[type="color"] {       
    display: inline-flex;
    vertical-align: bottom;
    justify-content: center;
    border: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
    cursor: pointer;
    height: 20px; /*Para el cículo de color*/
    width: 20px;  /*Para el cículo de color*/
}

::-webkit-color-swatch { /*Para que input=color, quede redondo*/
    border: 0;
    border-radius: 50%;
}

.blendModePanel {
    background-color: var(--color-fondoBtn);
    border-radius: 3px;
    display: flex;
    width: calc(50% - 2px);  
    height: var(--alto-botones-paneles)px;
    display: flex;
    align-items: center;
        
}
.blendModePanel select {
  	border: 0;
	background-color: var(--color-fondoBtn);
	color: var(--color-fuente);
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    color:#000000;
}
 
/* :::::::::::::::::::::::: filter style ::::::::::::::::::: */
.filter {
    width: 100%;
    margin-top: 25px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
        
}

input[type='range'] {
    overflow: hidden;
    appearance: none;
    background-color: var(--color-fondoBtn);
    
  }
  
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 30%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--color-header);
    box-shadow: -130px 0 0 130px var(--color-cont-ppal); 
}

/* :::::::::::::::::::::::::::::::::: reset button :::::::::::::::::::::::::*/
.img-reset-section { 
    width: 100%;
    border: 0px;
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    padding: 7px;
    font-size: 0.7rem;
    margin-top: 15px;
    cursor: pointer;  
    color:#000000;
}


.panel-bg-color:hover .input-color { 
    background-color: var(--color-hover);  
}

.archivo-img label:hover,
.panel-bg-color:hover, 
input[type="url"]:hover,
input[type="color"] :hover,
.blendModePanel:hover select, 
.blendModePanel:hover,
.upload-btn:hover,
.img-reset-section:hover{
    background-color: var(--color-hover);
}


/*----------------------- SECTION: panel de TEXTO -------------------*/
.input-textarea-topLower {
    margin-top: 5px;
    resize: none;
    font-size: 0.9rem;
    background-color: var(--color-fondoBtn);
    width: 100%;
    height: 70px;
    overflow-y: scroll;
    color: var(--color_btn-desc-arriba-abajo)
        
    
}

.checkbox-text-topLower {
    font-size: 0.7rem;
}

.select-font-panel {
    margin-top: 5px;
    background-color: var(--color-fondoBtn);
    border-radius: 3px;
    display: flex;
    width: 100%;
    height: var(--alto-botones-paneles)px;
    color:#000000;
}
.select-font-panel select {
  	border: 0;
	background-color: var(--color-fondoBtn);
	color: var(--color-fuente);
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: calc( var(--alto-botones-paneles)* 1px);
    color: #000000;
}

.text-size-container-align {   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
}
.meme-text-size {
    margin-top: 5px;
    width: calc(50% - 2px);
    height: calc( var(--alto-botones-paneles)* 1px);
    color: #000000;
}

.btn-align {
    margin-top: 5px;
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    border: 0px;
    font-size: 0.7rem;
    width: 35px;  
    height: calc( var(--alto-botones-paneles)* 1px);
    cursor: pointer;  /*Para que aparezca la manito sobre el btn. */
    color: #000000;
}

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.size{
    width: calc(100% - 6px);
    margin-top: 5px;
}

.transCheckboxText {
    font-size: 0.7rem;
    margin-top: 5px;
   
}

.outlineBtn { 
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    border: 0px;
    padding: 3px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    color: #000000;
    width: calc(33% - 2px);   
    height: calc( var(--alto-botones-paneles)* 1px);
    cursor: pointer; 
}

.dimensions-space-line {
    margin-top: 5px;
    width: 100%;
    height: calc( var(--alto-botones-paneles)* 1px);
    color: #000000;
}

.marginless {
    margin: 0px;
}

.input-textarea-topLower:hover,
.select-font-panel select:hover, 
.select-font-panel:hover,
.meme-text-size:hover, 
.btn-aling:hover,
.outlineBtn:hover,
.dimensions-space-line:hover {
    background-color: var(--color-hover);
}





/* -----  MEDIA QUERY  "SECTION" -------  */
@media(width> 1300px){  
    .panel-close-btn{
        display: none;
    }
}
@media(width> 640px){
    .header-title {
        font-size: 2.5rem;
    }
    .author {
        text-align: center;
        padding: 5px 0px 0px;
    }
}


@media (width < 570px) { 
    .main-container { 
        position: relative;
        top:0px;
        flex-direction: column;  
    }
    .main-content {
        position: relative;  
    }
    .panel-container { 
        position: relative;  
        width: calc(var(--ancho-panel-imgtxt) * 1px);
        height: 800px;
        margin: 20px;
    }

    .panel-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .author {
        text-align: center;
        padding: 5px 0px 0px;
    }
}



@media (570px <= width <= 850px) {  
   
    .main-container {
        position: relative; 
        top:0px;
        flex-direction: column;  
    }
    .main-content {
        position: relative;
        
    }
    .panel-container {
        position: relative;  /* fixed para que quede a la derecha*/
        width: calc(var(--ancho-panel-imgtxt) * 2px);
        height: 490px;
        margin-bottom: 50px;
    }
    .two-column-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 
    .filters-column, .sectors-panel {
        width: calc(var(--ancho-panel-imgtxt) * 1px - 25px); 
    }
    .text-columns {
        width: calc(var(--ancho-panel-imgtxt) * 1px - 15px);
    }

    .panel-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .author {
        text-align: center;
        padding: 5px 0px 0px;
    }
}